/**
 * Main Layout
 **/
.flex-container {
	display: flex;
	justify-content: space-between;
}

body {
	flex-wrap: wrap;
	font-family: "Verdana", sans-serif;
	max-width: 1200px;
	margin: 0px auto;
	background-color: #000000;
}

/* Simulates page container but allows for full-bleed section backgrounds */
.main-content-block {
	padding-left: 125px;
	padding-right: 125px;
	flex: 1 100%;
}

/* TODO: encapsulate in desktop media query */

.sidebar {
	flex: 1 0px;
	padding-right: 0px;
}

.gallery {
	flex: 2 0px;
	padding-left: 25px;
	box-sizing: border-box;
}

/**
 * Header
 **/
header {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #202123;
	background-image: linear-gradient(#202123, #070707);
}

header h1 {
	margin: 0px;
	color: #ffffff;
}

header p {
	margin: 0px;
	color: #848484;
}

/**
 * Navigation
 **/

/* Aligns and sizes navigation to site title */
nav {
	height: 2em;
	align-self: flex-start;
	flex-wrap: wrap;
}

nav ul {
	height: 100%;
	margin: 0px;
	padding: 0px;
	align-items: center;
	list-style: none;
}

nav a {
	text-decoration: none;
	display: block;
	padding: 0.5em 20px;
	color: #0c9bdd;
}

nav a:hover {
	color: #ffffff;
	text-shadow: white 0 0 1px;
}

nav a:hover:after {
	content: '';

	display: block;
	margin: 5px auto -12px;
	width: 0px;
	height: 0px;

	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #0c9bdd;
	box-sizing: content-box;
}

/**
 * Featured Section
 **/
.featured {
	justify-content: flex-start;
}

.title-bold {
	font-weight: bold;
}
