/**
 * Main Layout
 **/
.flex-container {
	display: flex;
}

body {
	flex-wrap: wrap;
}

/* Simulates page container but allows for full-bleed section backgrounds */
.main-content-block {
	padding: 0px 125px;
	flex: 1 100%;
}

/**
 * Navigation
 **/
nav li {
	list-style-type: none;
}

nav ul {
	margin: 0px;
	padding: 0px;
}