/* Backgrounds for testing */
header {
	background-color: #00b3ee;
}

.featured {
	background-color: #3e8f3e;
}

.sidebar {
	background-color: #ec971f;
}

.gallery {
	background-color: #b92c28;
}

footer {
	background-color: #ffff00;
}
